.navigation {
    background-color: #090162;
}

.navbar-logo {
    margin-left: 4px;
    cursor: pointer;
    width: 60px;
    margin-top: 0rem;
}

.nav-link {
    font-family: Poppins;
    margin: 10px;
    font-size: 16px;
}

.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/news-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 500px;

}

.topic {
    font-family: Roboto;
    font-size: 28px;
}

.paragraph {
    font-family: Roboto;
    font-size: 18px;
    text-align: justify;
}

.building-img {
    width: 600px;
    height: auto;
    overflow: hidden;
}

/*footer css of index.html*/
.footer {
    background-color: #090162;
    color: white;
}

.footer-content {
    margin-top: 20px;
}

.icons {
    background-color: ghostwhite;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px !important;
}
