/*************home page and sign in--> logo css****************/

.navigation{
	background-color: #090162;
}
.navbar-logo{
    margin-left: 4px;
    cursor: pointer;
    width: 60px;
    margin-top: 0rem;
}
.nav-link{
	font-family: Poppins;
	margin: 10px;
	font-size: 18px;
}

/*index.html page-content css*/
.news-portal{
	margin-top: 15px;
}
.image{
	width: 696px;
	height: 500px;
	/*left: 118px;
	top: 149px;*/
}
.image1{
	width: 350px;
	height: 200px;
	left: 118px;
	top: 149px;
}
.title{
	font-weight: bold;
	margin-top: 5px;
}
