<!DOCTYPE html>
<html>
<head>
	<title>Tax Management System</title>
	<link rel="stylesheet" type="text/css" href="
	../css/style.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>
	<div class="header">
		<nav class="navbar navbar-expand-md navbar-dark navigation">
			<div class="container">
				<a href="Home.html" class="navbar-brand text-warning font-weight-bold"> 	
					<img class ="navbar-logo" src = "../Image/logo1.png">
				</a>
			</div>
		</nav>
	</div>
</body>
</html>