{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Tax Management System</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body style="background-color: rgb(219, 226, 226)">
    <!--navigation bar-->
    <div class="header">
      <nav class="navbar navbar-expand-md navbar-dark navigation">
        <div class="container">
          <a
            href="{% url 'home' %}"
            class="navbar-brand text-warning font-weight-bold"
          >
            <img class="navbar-logo" src="{% static 'Images/logo1.png' %}" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsenavbar"
          >
            <span class="navbar-toggler-icon"> </span>
          </button>
          <div class="collapse navbar-collapse text-center" id="collapsenavbar">
            <ul class="navbar-nav ml-auto mr-auto">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link text-white">HOME</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link text-white">ABOUT US</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  style="color: white"
                >
                  NEWS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'politics' %}">
                    POLITICS
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'entertainment' %}">
                    ENTERTAINMENT
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'business' %}">
                    BUSINESS
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'sports' %}">
                    SPORTS
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <a href="{% url 'Tax_calculator' %}" class="nav-link text-white"
                  >TAX CALCULATOR</a
                >
              </li>
            </ul>
            <a href="{% url 'logout' %}" class="nav-link text-white">
              <button type="button" class="btn btn-primary btn-sm">
                Logout
              </button>
            </a>
            <div class="search">
              <form class="d-flex" action="{% url 'search' %}">
                <input
                  class="form-control"
                  type="search"
                  name="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-success btn-sm ml-2" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- page content-->
    <div class="container" style="background-color: white">
      <div class="row">
        {% for post in object_list %} 
          
          {% if forloop.counter == 1  %}
        <div class="col-lg-8 md-8 sm-10">
          <div class="news-portal">
              {% if post.header_image %}
              <img
                src="{{ post.header_image.url }}"
                class="image"
                
              />
              {% else %}
              <img
                src="{% static 'Images/icon-image.png' %}"
                class="image"
                alt="..."
              />
              {% endif %}
              <a href="{% url 'article-detail' post.pk %}" style="text-decoration: none">
              <h3 class="title">
                {{ post.title }}
              </h3>
            </a>
          </div>
        </div>
        {% endif %} 
        {% endfor %}

        
        <div class="col-lg-4 md-8 sm-10">
          {% for post in object_list %} 
          {% if forloop.counter == 2  %}
          <div class="row">
            <div class="news-portal">
              {% if post.header_image %}
              <img
                src="{{ post.header_image.url }}"
                class="image1"
                
              />
              {% else %}
              <img
                src="{% static 'Images/icon-image.png' %}"
                class="image1"
                alt="..."
              />
              {% endif %}
              <a href="{% url 'article-detail' post.pk %}" style="text-decoration: none">
              <h5 class="title" style="text-decoration: none">
                {{ post.title }}
              </h5>
              </a>
            </div>
          </div>
          {% endif %} 
          {% endfor %}

          {% for post in object_list %} 
          {% if forloop.counter == 3  %}
          <div class="row">
            <div class="news-portal">
              {% if post.header_image %}
              <img
                src="{{ post.header_image.url }}"
                class="image1"
                
              />
              {% else %}
              <img
                src="{% static 'Images/icon-image.png' %}"
                class="image1"
                alt="..."
              />
              {% endif %}
              <a href="{% url 'article-detail' post.pk %}" style="text-decoration: none">
              <h5 class="title">
                {{ post.title }}
              </h5>
              </a>
            </div>
          </div>
          {% endif %} 
          {% endfor %}
        </div>
      </div>
      <img src="{% static 'Images/pajero.gif' %}" class="advertisement" />
      <div class="container">
        <h4 class="category">Politics</h4>
        <div class="row">
          {% for post in object_list %} {% if post.category == 'Politics' %}
          {% if forloop.counter <= 8  %}
          <div class="col-lg-3">
            <div class="businessNews card mt-3">
              {% if post.header_image %}
              <img
                src="{{ post.header_image.url }}"
                class="businessImg"
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% else %}
              <img
                src="{% static 'Images/icon-image.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% endif %}

              <!-- <img src="images/pathao.jpg" class="businessImg" /> -->
              <h4 class="businessHeading ml-2">
                <a href="{% url 'article-detail' post.pk %}"
                style="text-decoration: none"
                  >{{ post.title|truncatechars:100 }}</a
                >
              </h4>
              <p class="businessTopic ml-2">{{ post.body|truncatechars:100 }}</p>
            </div>
          </div>
          {% endif%}
          {% endif%}
          {% endfor %}
        </div>
        <a href="{% url 'politics' %}">Load more</a>
        </div>
      <div class="container">
        <h4 class="category">Business</h4>
        <div class="row">
          {% for post in object_list %} {% if post.category == 'Business' %}
          {% if forloop.counter <= 8  %}
          <div class="col-lg-3">
            <div class="businessNews card mt-3" >
              {% if post.header_image %}
              <img
                src="{{ post.header_image.url }}"
                class="businessImg"
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% else %}
              <img
                src="{% static 'Images/icon-image.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% endif %}

              <!-- <img src="images/pathao.jpg" class="businessImg" /> -->
              <h4 class="businessHeading ml-2">
                <a href="{% url 'article-detail' post.pk %}"
                style="text-decoration: none"
                  >{{ post.title|truncatechars:100 }}</a
                >
              </h4>
              <p class="businessTopic ml-2">{{ post.body|truncatechars:100 }}</p>
            </div>
          </div>
          {% endif%}
          {% endif%}
          {% endfor %}
        </div>
        <a href="{% url 'business' %}">Load more</a>
      </div>
      <div class="container">
        <h4 class="category">Entertainment</h4>
        <div class="row">
          {% for post in object_list %} {% if post.category == 'Entertainment'%}
          {% if forloop.counter <= 8  %}
          <div class="col-lg-3 mt-3">
            <div class="businessNews card">
              {% if post.header_image %}
              <img
                src="{{ post.header_image.url }}"
                class="businessImg"
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% else %}
              <img
                src="{% static 'Images/icon-image.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% endif %}

              <!-- <img src="images/pathao.jpg" class="businessImg" /> -->
              <h4 class="businessHeading ml-2">
                <a href="{% url 'article-detail' post.pk %}"
                style="text-decoration: none"
                  >{{ post.title|truncatechars:100 }}</a
                >
              </h4>
              <p class="businessTopic ml-2">{{ post.body|truncatechars:100 }}</p>
            </div>
          </div>
          {% endif%}
          {% endif%}
          {% endfor %}
        </div>
        <a href="{% url 'entertainment' %}">Load more</a>
      </div>
      <div class="container">
        <h4 class="category">Sports</h4>
        <div class="row">
          {% for post in object_list %} {% if post.category == 'Sports' %}
          {% if forloop.counter <= 8  %}
          <div class="col-lg-3">
            <div class="businessNews card mt-3">
              {% if post.header_image %}
              <img
                src="{{ post.header_image.url }}"
                class="businessImg"
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% else %}
              <img
                src="{% static 'Images/icon-image.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 250px; object-fit: cover; width: 100%;"
              />
              {% endif %}
              <!-- <img src="images/stadium.jpg" class="businessImg" /> -->
              <h4 class="businessHeading ml-2">
                <a href="{% url 'article-detail' post.pk %}"
                style="text-decoration: none"
                  >{{ post.title|truncatechars:100 }}</a
                >
              </h4>
              <p class="businessTopic ml-2">{{ post.body|truncatechars:100 }}</p>
            </div>
          </div>
          {% endif%}
          {% endif%}
          {% endfor %}
        </div>
        <a href="{% url 'sports' %}">Load more</a>
      </div>

      <!--Footer-->
      <div class="row footer" style="margin-top: 25px; background-color: #090162; color: white;">
        <div class="col-lg-4 footer-content">
          <img src="{% static 'Images/logo1.png' %}" class="navbar-logo" />
          <p>The english edition Online News</p>
          <p>Phone No: 9856234124,014256352</p>
          <p>taxcompany@gmail.com</p>
        </div>
        <div class="col-lg-4 footer-content" >
          <h6>News</h6>
          <a href="{% url 'politics' %}" style="color: white; text-decoration: none;"><p>Politics</p></a>
          <a href="{% url 'entertainment' %}" style="color: white; text-decoration: none;"><p>Entertainment</p></a>
          <a href="{% url 'sports' %}" style="color: white; text-decoration: none;"><p>Sports</p></a>
          <a href="{% url 'business' %}" style="color: white; text-decoration: none;"><p>Business</p></a>
        </div>
        <div class="col-lg-4 footer-content">
          <h6>You can also find us on</h6>
          <div style="font-size: 35px; margin-left: 10px">
            <a href = "https://www.facebook.com/News24nepal.tv" target="_blank">
              <i class="fa fa-facebook-official" style="color: blue;"></i>
            </a>
            &nbsp;&nbsp;
            <a href="https://www.instagram.com/ekantipur_news/" target="_blank">
            <i class="fa fa-instagram" style="color:#F56040;;"></i>
            </a>
            &nbsp;&nbsp;
            <a href="twitter.com/rsnpj">
            <i class="fa fa-twitter-square"  style="color: #405DE6;" target="_blank"></i></a>
          </div>
        </div>
        <hr class="mb-3" style="background-color: white; border: 1px solid white; width: 100%; margin-left: 0; margin-right: 0;">
        <div style="background-color: #090162; color: white; width: 100%">
          <p style="text-align: center">
            Copyright &copy; 2021 Tax Management System, All rights reserved
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
