{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Tax Management System</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="
	  {% static 'css/Register.css' %}"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark navigation">
      <div class="container">
        <a
          href="{% url 'home' %}"
          class="navbar-brand text-warning font-weight-bold"
        >
          <img class="navbar-logo" src="{% static 'Images/logo1.png' %}" />
        </a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mt-5">
          <img
            class="personalizationImg"
            src="{% static 'Images/Personalization.png' %}"
          />
        </div>
        <div class="col-lg-6 mt-5">
          <div class="login-container">
            <form method="POST">
              {% csrf_token %}
              <img class="avatar" src="{% static 'Images/Avatar.png' %}" />
              <h2>Welcome</h2>
              {{form.errors}}
              <br />
              {% for message in messages %} {{message}} {% endfor %}
              <br />
              <br />

              <div class="input-div one focus">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>
                <div>
                  <h5>Username</h5>
                  <div class="input">{{form.username}}</div>
                </div>
              </div>
              <div class="input-div two focus">
                <div class="i">
                  <i class="fas fa-envelope"></i>
                </div>
                <div>
                  <h5>E-mail</h5>
                  <div class="input">{{form.email}}</div>
                </div>
              </div>
              <div class="input-div three focus">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <div>
                  <h5>Password</h5>
                  <div class="input">{{form.password1}}</div>
                </div>
              </div>
              <div class="input-div four focus">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <div>
                  <h5>Confirm Password</h5>
                  <div class="input">{{form.password2}}</div>
                </div>
              </div>
              <button class="button">Register</button>
              Already have an account?
              <a href="{% url 'login' %}" class="ml-2">Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" style="margin-top: 25px; background-color: #090162; color: white;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 footer-content">
            <img src="{% static 'Images/logo1.png' %}" class="navbar-logo" />
            <p>The english edition Online News</p>
            <p>Phone No: 9856234124,014256352</p>
            <p>taxcompany@gmail.com</p>
          </div>
          <div class="col-lg-4 footer-content">
            <h6>News</h6>
            <a href="{% url 'politics' %}" style="color: white; text-decoration: none;"><p>Politics</p></a>
            <a href="{% url 'entertainment' %}" style="color: white; text-decoration: none;"><p>Entertainment</p></a>
            <a href="{% url 'sports' %}" style="color: white; text-decoration: none;"><p>Sports</p></a>
            <a href="{% url 'business' %}" style="color: white; text-decoration: none;"><p>Business</p></a>
          </div>
          <div class="col-lg-4 footer-content">
            <h6>You can also find us on</h6>
            <div style="font-size: 35px; margin-left: 10px">
              <a href = "https://www.facebook.com/News24nepal.tv" target="_blank">
                <i class="fa fa-facebook-official" style="color: blue;"></i>
              </a>
              &nbsp;&nbsp;
              <a href="https://www.instagram.com/ekantipur_news/" target="_blank">
              <i class="fa fa-instagram" style="color:#F56040;;"></i>
              </a>
              &nbsp;&nbsp;
              <a href="twitter.com/rsnpj">
              <i class="fa fa-twitter-square"  style="color: #405DE6;" target="_blank"></i></a>
            </div>
          </div>
          <hr class="mb-3" style="background-color: white; border: 1px solid white; width: 100%; margin-left: 0; margin-right: 0;">
          <div style="background-color: #090162; color: white; width: 100%">
            <p style="text-align: center">
              Copyright &copy; 2021 Tax Management System, All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
