{% load static %}
<html>
    <head>
        <title>Tax Management System</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/taxCalculator.css' %}"
        />
        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            @media (max-width: 768px){
            .search{
                display: none;
            }

            }
        </style>
    </head>
        <body>
            <!--navigation bar-->
            <div class="header">
                <nav class="navbar navbar-expand-md navbar-dark navigation">
                  <div class="container">
                    <a
                      href="{% url 'home' %}"
                      class="navbar-brand text-warning font-weight-bold"
                    >
                      <img class="navbar-logo" src="{% static 'Images/logo1.png' %}" />
                    </a>
          
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapsenavbar"
                    >
                      <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                      <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item">
                          <a href="{% url 'home' %}" class="nav-link text-white">HOME</a>
                        </li>
                        <li class="nav-item">
                          <a href="{% url 'about' %}" class="nav-link text-white">ABOUT US</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            style="color: white"
                          >
                            NEWS
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'politics' %}">
                              POLITICS
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'entertainment' %}">
                              ENTERTAINMENT
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'business' %}">
                              BUSINESS
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'sports' %}">
                              SPORTS
                            </a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a href="{% url 'Tax_calculator' %}" class="nav-link text-white"
                            >TAX CALCULATOR</a
                          >
                        </li>
                      </ul>
                      <a href="{% url 'logout' %}" class="nav-link text-white">
                        <button type="button" class="btn btn-primary btn-sm">
                          Logout
                        </button>
                      </a>
                      <div class="search">
                        <form class="d-flex" action="{% url 'search' %}">
                          <input
                            class="form-control"
                            type="search"
                            name="search"
                            placeholder="Search"
                            aria-label="Search"
                          />
                          <button class="btn btn-success btn-sm ml-2" type="submit">
                            Search
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            
                <div class="container">
                    <h3 class="text-center mt-4 mb-4">SALARY TAX CALCULATOR</h3>
                    <a href="{% url 'Tax_History' %}">
                        <button class="btn btn-success float-right" style="margin-top: -4rem;">Tax History</button>
                    </a>
                    <form name="myform" class="form-group" id="form">
                        <div class="row jumbotron px-3 py-3 text-center">
                            <div class="col-md-3 mb-4">
                                <label class="inputtext" for="inputname">Nature of Employee</label>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <select id="inputState" class="form-control" disabled>
                                        <option selected>Unmarried</option>
                                        <option value="1">Married</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 mb-4">
                                <label class="inputtext" for="inputname">Fiscal year</label>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <select id="inputState" class="form-control">
                                        <option selected>2076/77</option>
                                        <option value="1">2075/76</option>
                                        <option value="2">2074/75</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>


                    <iframe name="tax_calc_iframe" style="display:none;"></iframe>
                    <form name="myform" class="form-group" id="form" method="POST" target="tax_calc_iframe" >
                        {% csrf_token %}
                        <div class="row jumbotron px-3 py-3 text-center">
                            <div class="col-lg-6">
                                <h5 style="text-align: left; font-family: Roboto; font-size: 22px;">Annual Income</h5>
                                <hr class="mb-5" style="background-color: blue; border: 1px solid blue;">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <label class="inputtext" for="inputname">Monthly Salary</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="monthly_salary" name="monthly_salary">
                                        </div>
                                            <div class="col-md-6 mb-4">
                                                <label class="inputtext" for="inputname">No. of months</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="no_months" name="no_months" >
                                            </div>
                                                <div class="col-md-6 mb-4">
                                                    <label class="inputtext" for="inputname">Bonus</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="bonus" name="bonus">
                                                 </div>
                                                    <div class="col-md-6 mb-4">
                                                        <label class="inputtext" for="inputname">Allowance</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="allowance" name="allowance">
                                                    </div>
                                                        {% comment %} <!-- <hr class="mb-3" style="background-color: blue; border: 1px solid blue; width: 90%;">
                                                            <div class="col-md-6 mb-4">
                                                                <label class="inputtext" for="inputname">Total Salary</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="total_salary" name="total_salary">
                            </div> --> {% endcomment %}
                                                            </div>
                            </div>
                                                        <div class="col-lg-6">
                                                            <h5 style="text-align: left; font-family: Roboto; font-size: 22px;">Annual Deduction</h5>
                                                            <hr class="mb-5" style="background-color: blue; border: 1px solid blue;">
                                                                <div class="row">
                                                                    <div class="col-md-6 mb-4">
                                                                        <label class="inputtext" for="inputname">Employee Provident Fund</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control" id="emp_provident" name="emp_provident">
                            </div>
                                                                        <div class="col-md-6 mb-4">
                                                                            <label class="inputtext" for="inputname">Citizen Investment Trust</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <input type="text" class="form-control" id="CIT" name="CIT">
                            </div>
                                                                            <div class="col-md-6 mb-4">
                                                                                <label class="inputtext" for="inputname">Insurance</label>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <input type="text" class="form-control" id="insurance" name="insurance">
                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    {% comment %} /*form name="myform" class="form-group" id="form">
                <div class="row jumbotron px-3 py-3 text-center">
                                                                        <div class="col-md-3 mb-4">
                                                                            <label class="inputtext" for="inputname">Annual medical expense</label>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <input type="text" class="form-control" id="insurance">
                    </div>
                                                                            <div class="col-md-3 mb-4">
                                                                                <label class="inputtext" for="inputname">Medical TAX(15% of Medical Expenses)</label>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <input type="text" class="form-control" id="insurance">              
                    </div>
                                                                            </div>
            </form> */ {% endcomment %}
                                                                        <button type="button" class="btn btn-primary reset-button" >Reset values</button>
                                                                        <button type="submit" class="btn btn-success calculate-button" data-toggle="modal" data-target="#myModal" onclick="TaxCalculator();">Calculate</button>
                                                                        <p class="mt-4"><span style="font-weight: bold;">Note:</span> This tool is made for general tax calculation only. Information from this tool should not be used for any other purpose.</p>
                                                                    </div>
    </form>
                                                                <div class="modal fade" id="myModal" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <!-- Modal content-->
              <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title" style="font-family: Roboto;">Net Tax Liability</h4>
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <table style="font-size: 20px; font-family: Poppins;">
                                                                                    <tr >
                                                                                        <td style="padding-right: 20px;"> <strong>Annual Gross Salary: </strong></td>
                                                                                        <td> <div id="gross_salary_div"> Rs. XXX </div> </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td style="padding-right: 20px;"> <strong>Your tax slab is upto: </strong></td>
                                                                                        <td> <div id="net_tax_slab_div"> Rs. XXX </div> </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td style="padding-right: 20px;"> <strong>Taxable Income: </strong></td>
                                                                                        <td> <div id="taxable_income_div"> Rs. XXX</div> </td>
                                                                                    </tr>
                                                                                    <br />

                                                                                    <tr>
                                                                                        <td style="padding-right: 20px;"> <strong>Net payable tax: </strong></td>
                                                                                        <td> <div id="net_payable_tax_div"> Rs. XXX </div> </td>
                                                                                    </tr>


                                                                                </table>

                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                                                                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <!--Footer-->
        <footer class="footer">
                                                                    <div class="container">
                                                                        <div class="row" style="margin-top: 25px;">
                                                                            <div class="col-lg-4 footer-content">
                                                                                <img src="{% static 'Image/logo1.png' %}" class="navbar-logo">
                                                                                    <p>The english edition Online News</p>
                                                                                    <p>Phone No: 9856234124,014256352</p>
                                                                                    <p>taxcompany@gmail.com</p>
                   </div>
                                                                                <div class="col-lg-4 footer-content">
                                                                                    <h6>News</h6>
                                                                                    <a href="{% url 'politics' %}" style="color: white; text-decoration: none;"><p>Politics</p></a>
                                                                                    <a href="{% url 'entertainment' %}" style="color: white; text-decoration: none;"><p>Entertainment</p></a>
                                                                                    <a href="{% url 'sports' %}" style="color: white; text-decoration: none;"><p>Sports</p></a>
                                                                                    <a href="{% url 'business' %}" style="color: white; text-decoration: none;"><p>Business</p></a>                                                                                </div>
                                                                                <div class="col-lg-4 footer-content">
                                                                                    <h6>You can also find us on</h6>
                                                                                    <div style="font-size: 35px; margin-left: 10px;">
                                                                                        <a href = "https://www.facebook.com/News24nepal.tv" target="_blank">
                                                                                            <i class="fa fa-facebook-official" style="color: blue;"></i>
                                                                                          </a>
                                                                                          &nbsp;&nbsp;
                                                                                          <a href="https://www.instagram.com/ekantipur_news/" target="_blank">
                                                                                          <i class="fa fa-instagram" style="color:#F56040;;"></i>
                                                                                          </a>
                                                                                          &nbsp;&nbsp;
                                                                                          <a href="twitter.com/rsnpj">
                                                                                          <i class="fa fa-twitter-square"  style="color: #405DE6;" target="_blank"></i></a>
                                                                                    </div>
                                                                                </div>
                                                                                <hr class="mb-3" style="background-color: white; border: 1px solid white; width: 100%; margin-left: 0; margin-right: 0;">
                                                                                    <div style="background-color: #090162; color: white;width: 100%;">
                                                                                        <p style="text-align: center;">Copyright &copy; 2021 Tax Management System, All rights reserved</p>
                                                                                    </div>
               </div>
                                                                            </div>
       </footer>
        </body>

                                                                    <script>
                                                                        function TaxCalculator(){
           var monthly_salary = parseFloat(document.getElementById("monthly_salary").value);
           var no_of_months = parseFloat(document.getElementById("no_months").value);
           var festival_bonus = parseFloat(document.getElementById("bonus").value);
           var citizen_investfund = parseFloat(document.getElementById("CIT").value);
           var provident_fund = parseFloat(document.getElementById("emp_provident").value);
           var insurance = parseFloat(document.getElementById("insurance").value);
           var allowance = parseFloat(document.getElementById("allowance").value);

            //annual gross salary
            var annual_gross_salary = monthly_salary*no_of_months;
            console.log("Annual gross salary is: "+annual_gross_salary);

            //taxable income
            var taxable_income=annual_gross_salary +  festival_bonus + allowance - provident_fund - citizen_investfund - insurance; 
            console.log("Taxable income is: "+taxable_income);

            //tax slab
            var tax_slab_percentage;
            var net_payable_tax;

            //first slab
            if(taxable_income<=400000){
                                                                            tax_slab_percentage = '1 %';
                net_payable_tax=taxable_income * 0.01;
            }
            //second slab
            else if(taxable_income>400000 && taxable_income<=500000){
                                                                            tax_slab_percentage = '10 %';
                net_payable_tax = 0.01*400000 + 0.10 * (taxable_income-400000);
            }
            //third slab
            else if(taxable_income>500000 && taxable_income<=700000){
                                                                            tax_slab_percentage = '20 %';
                net_payable_tax = 0.01*400000 + 0.10 * 100000 + 0.20 * (taxable_income-500000); 
            }
            //fourth slab
            else if(taxable_income>700000 && taxable_income<=2000000){
                                                                            tax_slab_percentage = '30 %';
                net_payable_tax = 0.01*400000 + 0.10 * 100000 + 0.20 * 200000 + 0.30 * (taxable_income-700000);
            }
            //final slab
            else if(taxable_income>2000000){
                                                                            tax_slab_percentage = '36 %';
                net_payable_tax = 0.01*400000 + 0.10 * 100000 + 0.20 * 200000 + 0.30 * 1300000 + 0.36 * (taxable_income-2000000);
            } else{
                                                                            tax_slab_percentage = 'weird error';
                net_payable_tax = 0;
            }


            console.log("Net payable tax is: "+ net_payable_tax);
            console.log("tax_slab_percentage is: "+ tax_slab_percentage);

            document.getElementById("gross_salary_div").innerHTML = annual_gross_salary;
            document.getElementById("net_tax_slab_div").innerHTML = tax_slab_percentage;
            document.getElementById("taxable_income_div").innerHTML = taxable_income;
            document.getElementById("net_payable_tax_div").innerHTML = net_payable_tax;


        }

    </script>
</html>

                   